name: MinGW Clang64 Full Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2025

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install vcredist140
        shell: pwsh
        run: |
          choco install vcredist140 -y

      - name: Setup MSYS2
        id: msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: true
          install: >-
            mingw-w64-clang-x86_64-toolchain
            mingw-w64-clang-x86_64-cmake
            mingw-w64-clang-x86_64-ninja
            mingw-w64-clang-x86_64-mlir
            mingw-w64-clang-x86_64-spdlog
            mingw-w64-clang-x86_64-gtest
            mingw-w64-clang-x86_64-python
            mingw-w64-clang-x86_64-python-pip
            mingw-w64-clang-x86_64-rustup

      - name: Setup GHCup MSYSTEM
        shell: msys2 {0}
        run: |
          echo "GHCUP_MSYS2_ENV=CLANG64" >> $GITHUB_ENV

      - name: Setup GHCup Without Silly Upstream
        shell: msys2 {0}
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh
          . /c/ghcup/env
          ghcup set ghc 9.10.3
          ghcup set cabal latest
          ghcup install ghc 9.10.3
          ghcup install cabal latest
          

      - name: Install Rust and Python dependencies
        shell: msys2 {0}
        run: |
          pip install lit
          rustup default nightly
          rustup target add x86_64-pc-windows-gnullvm
          rustup default nightly-x86_64-pc-windows-gnullvm
          rustup component add rust-src rustfmt clippy rustc-dev llvm-tools-preview

      - name: Configure CMake
        shell: msys2 {0}
        run: |
          cmake -B build \
          -G Ninja \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DREUSSIR_ENABLE_PEDANTIC=ON \
          -DREUSSIR_ENABLE_TESTS=ON

      - name: Build
        shell: msys2 {0}
        run: cmake --build build --parallel

      - name: Add paths to Windows PATH
        shell: pwsh
        run: |
          $msys2Path = "${{ steps.msys2.outputs.msys2-location }}/clang64/bin"
          $buildPath = "${{ github.workspace }}/build/bin"
          $downlevelPath = "c:/Windows/System32/downlevel"
          echo "$msys2Path" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$buildPath" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          echo "$downlevelPath" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Run Integration Tests
        shell: msys2 {0}
        run: |
          export PATH="$PATH:${{ github.workspace }}/build/bin"
          cmake --build build --target check

      - name: Build Haskell frontend
        shell: msys2 {0}
        run: |
          cabal update
          cabal build all -j

      - name: Test Haskell frontend
        shell: msys2 {0}
        run: |
          chcp.com 65001
          cabal test all -j
