name: MinGW Clang64 Full Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2025

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Restore file timestamps
        uses: chetan/git-restore-mtime-action@v2

      - name: Cache Cabal (Windows)
        uses: actions/cache@v4
        with:
          path: |
            C:/msys64/home/runneradmin/.cabal
            C:/msys64/home/runneradmin/.local/state/cabal
            C:/msys64/home/runneradmin/.cache/cabal
            C:/Users/runneradmin/AppData/Local/cabal
            C:/ghcup
            dist-newstyle
          key: windows-clang64-cabal-${{ hashFiles('**/*.cabal', 'cabal.project') }}
          restore-keys: |
            windows-clang64-cabal-

      - name: Install vcredist140
        shell: pwsh
        run: |
          choco install vcredist140 -y

      - name: Setup MSYS2
        id: msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: true
          install: >-
            git
            mingw-w64-clang-x86_64-toolchain
            mingw-w64-clang-x86_64-cmake
            mingw-w64-clang-x86_64-ninja
            mingw-w64-clang-x86_64-mlir
            mingw-w64-clang-x86_64-spdlog
            mingw-w64-clang-x86_64-gtest
            mingw-w64-clang-x86_64-python
            mingw-w64-clang-x86_64-python-pip
            mingw-w64-clang-x86_64-rustup

      - name: Setup GHCup MSYSTEM
        shell: msys2 {0}
        run: |
          echo "GHCUP_MSYS2_ENV=CLANG64" >> $GITHUB_ENV

      - name: Setup GHCup Without Silly Upstream
        shell: msys2 {0}
        run: |
          export BOOTSTRAP_HASKELL_GHC_VERSION=9.14.1
          export BOOTSTRAP_HASKELL_CABAL_VERSION=latest
          curl --proto '=https' --tlsv1.2 -sSf https://get-ghcup.haskell.org | sh
          . /c/ghcup/env
          cabal update
          

      - name: Install Rust and Python dependencies
        shell: msys2 {0}
        run: |
          pip install lit
          rustup target add x86_64-pc-windows-gnullvm
          rustup default nightly-2025-12-01-x86_64-pc-windows-gnullvm
          rustup component add rust-src rustfmt clippy rustc-dev llvm-tools-preview

      - name: Configure CMake
        shell: msys2 {0}
        run: |
          cmake -B build \
          -G Ninja \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DREUSSIR_ENABLE_PEDANTIC=ON \
          -DREUSSIR_ENABLE_TESTS=ON

      - name: Build
        shell: msys2 {0}
        run: cmake --build build --parallel


      - name: Run Integration Tests
        shell: msys2 {0}
        run: |
          . /c/ghcup/env
          . .github/workflows/setup_path.sh
          cmake --build build --target check

      - name: Build Haskell frontend
        shell: msys2 {0}
        run: |
          . /c/ghcup/env
          . .github/workflows/setup_path.sh
          cabal update
          cabal build all -j

      - name: Test Haskell frontend
        shell: msys2 {0}
        run: |
          . /c/ghcup/env
          . .github/workflows/setup_path.sh
          chcp.com 65001
          cabal test all -j
