name: Test (Windows)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-2025
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSYS2
        uses: msys2/setup-msys2@v2
        with:
          msystem: clang64
          update: true
          install: >-
            mingw-w64-clang-x86_64-toolchain
            mingw-w64-clang-x86_64-cmake
            mingw-w64-clang-x86_64-ninja
            mingw-w64-clang-x86_64-mlir
            mingw-w64-clang-x86_64-spdlog
            mingw-w64-clang-x86_64-gtest
            mingw-w64-clang-x86_64-python
            mingw-w64-clang-x86_64-python-pip
            mingw-w64-clang-x86_64-rust

      - name: Install Python dependencies
        shell: msys2 {0}
        run: |
          pip install lit

      - name: Configure CMake
        shell: msys2 {0}
        run: |
          cmake -B build \
          -G Ninja \
          -DCMAKE_BUILD_TYPE=RelWithDebInfo \
          -DREUSSIR_ENABLE_PEDANTIC=ON \
          -DREUSSIR_ENABLE_TESTS=ON

      - name: Build
        shell: msys2 {0}
        run: cmake --build build --parallel

      - name: Run Integration Tests
        shell: msys2 {0}
        run: cmake --build build --target check

      - name: Setup GHCup
        uses: haskell/ghcup-setup@v1
        with:
          ghc: 9.10.3
          cabal: latest

      - name: Build Haskell frontend
        shell: pwsh
        run: |
          cabal update
          cabal build all -j

      - name: Test Haskell frontend
        shell: pwsh
        run: cabal test all -j

      - name: Display test logs on failure
        if: failure()
        shell: pwsh
        run: |
          Write-Host "========== Test Logs =========="
          Get-ChildItem -Path dist-newstyle -Filter "*.log" -Recurse -File | ForEach-Object {
            Write-Host "`n========== $($_.FullName) =========="
            Get-Content $_.FullName
          }
